body
{
  text-align: center;
  font-family: 'Ariel', sans-serif;
  transition: 0.6s ease;
}

.box
{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-color: White;
  border-radius: 10px;
  transition: 0.7s ease;
}

#body 
{
  text-align: center;
  margin-bottom: 50vh;
}

#body h1
{
  margin-top: 50px;
  padding: 20px;
  font-size: 36px;
}

#body h2
{
  margin-bottom: 30px;
  padding: 0px;
  font-size: 18px;
}

#Assignments
{
  
}

#Labs
{

}

button
{
  padding: 15px 20px;
  border-radius: 8px;
  border: none;
  font-family: 'Ariel', sans-serif;
  transition: 0.6s ease;
  background-color: #e8e8e8;
}

.flexbox
{
  display: flex;
  justify-content: center;
}

.flexbox > div{
  margin: 0 2%;
  width: 46%;
}
